.Background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%-56px);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #000000;
    margin-top: 57px;
  }